<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<div class="jumbotron about">
	<div class="abouttext">
		<h1>Generate color palettes from your favorite pictures</h1>
		<br />
		<p>
			Palette Generator uses image processing to extract colors from an image. The colors are then sent to an <a href="http://www.colormind.io">artificial intelligence</a> to determine more compatible colors.
		</p><br />
		<p>
			To adjust the number of colors the AI suggests, use the slider bar at the top.</p>
			<br />
			<h2>
				  <i class="em em-grin"></i> Happy paletting <i class="em em-art"></i>
			</h2>
	</div>

	<div class="aboutpics">
		<img class="img" src="../../assets/images/Palette2Img.png" />
	</div>

</div>
