:host {
	flex: 1 1 auto;
	width:100%;
	height:auto;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.about{
	width:100%;
	background-color:white;
	margin:0;
	padding-bottom:0;
	display:flex;
	justify-content: center;
}
.abouttext{
	display:flex;
	flex-direction:column;
	width:50%;
	font-family:Radnika;
}
.aboutpics{
width:50%;
}

.img{
width:100%;
height:auto;
}
.footer{
	font-size:15px;
	position:relative;
	bottom:0;
}
