.fill-remaining{
flex:1 1 auto;
}
.toolbar{
	background-color:white;
	padding-right:0;
}
.mat-elevation-z24{

position:relative;
z-index:2;
}
.mat-icon{
	display:inline-block;
	vertical-align: middle;
}
.upload-button input{
	height:100%;
	width:20%;
	opacity:0;
}
.upload-button{
	font-family:Radnika;
	background-color:white;
	height:100%;
	width:20%;
	padding:5px;
	text-decoration:none;
	border:none;
	font-size:20px;
	text-align: center;
	display:inline-block;
	vertical-align: bottom;
}
.colorheader{
	font-family:Radnika;
}
