<mat-toolbar class="mat-elevation-z24 toolbar">

	<button class="upload-button" routerLink="/app">
		<img src="/../../assets/images/rgb.png" class="logo"/>
			<h1 class="colorheader">
				Palette Generator
			</h1>

<div style="height:0px;overflow:hidden">
	<label>
		<input type="file" #fileInput (change)="sendImage($event)" accept="image/jpg"/>
	</label>
	</div>
	</button>

	<div class="upload-button" matTooltip="AI suggested colours: {{5-kMeans}}">
		<mat-slider tickInterval="1" min="1" max="5" step="1" value="2" #matslider (input)="pitch($event)"></mat-slider></div>
	<button class="upload-button" matTooltip="Copy palette to clipboard" (click)="copyToClipboard()">
		<i class="material-icons copy">content_copy</i>
	</button>

	<button class="upload-button" routerLink="">About</button>
	<button (click)="fileInput.click()" type="button" class="upload-button" routerLink="/app"><mat-icon>file_upload</mat-icon><span class="upload">Upload</span></button>

</mat-toolbar>
