.headerdiv{
	font-family:Radnika;
	background-color:white;
	height:100%;
	width:20%;
	padding:5px;
	text-decoration:none;
	border:none;
	text-align: center;
	display:inline-block;
	vertical-align: bottom;
}
.toolbar{
	background-color:white;
	padding-right:0;
	padding-left:0;
	justify-content: flex-end;
}
.mat-elevation-z24{

position:relative;
z-index:2;
}
.mat-icon{
	display:inline-block;
	vertical-align: middle;
}
.upload-button input{
	text-decoration: none;
	height:100%;
	width:20%;
	opacity:0;
}

.upload-button{
	font-family:Radnika;
	background-color:white;
	height:100%;
	width:20%;
	padding:5px;
	text-decoration:none;
	border:none;
	font-size:20px;
	text-align: center;
	display:inline-block;
}
.upload-button:focus{
	outline:0;
}
.colorheader{
	font-family:Radnika;
	display:inline-block;
}
.logo{
	vertical-align: baseline;
	width:20px;
	display:inline-block;
}

.copy{
	vertical-align:baseline;
}
/* mobile */
@media only screen and (max-width:540px){
	.colorheader{
		display:none;
	}
	.upload{
		display:none;
	}
	.logo{
		width:50%;
	}
	.copy{
		display:none;
	}
}
@media screen and (min-width: 540px) and (max-width: 780px) {
	.logo{
		width:30%;
	}
	.colorheader{
		display:none;
	}
	.upload{
		display:none;
	}
}

/* CSS to change Default/'Accent' color */

::ng-deep .mat-accent .mat-slider-thumb {
    background-color: black;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: black;
}
::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: black;
}

/deep/ .mat-tooltip {
  font-size: 14px;
}
