<nav id="my-block" class="navbar navbar-expand fixed-top" [ngClass]= "{'nav-scrolled': isScrolled}">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngx-scroll-to]="'target'" href="#">About</a>
      </li>
			<li class="nav-item">
				<a class="nav-link" href="#">Get Started</a>
			</li>
    </ul>
		<a class="navbar-text">SkyAnalyze</a>
  </div>
</nav>
