<div class="introduction">
	<div class="introduction-layer">
			<div class="introduction-text">
				<h1>Get aerial insights on your multispectral images.</h1>

			</div>
			<div class="introduction-text">
				<p>
					A brand new mapping tool for orchards.
				</p>

			</div>
			<div class="introduction-text">
				<div class="intro-button">
					<a href="#" [ngx-scroll-to]="'target'">Learn more</a>
				</div>
				<div class="intro-button">
					<a href="colours">Get started</a>
				</div>
			</div>
	</div>
</div>
