<h1> {{name}} </h1>
<ul>
	<li>Age: {{age}}</li>
	<li>Address: {{address.city}}</li>
</ul>
{{hobbies}}
<button (click)="onClick()"> Click Me </button>

<h1> Edit User </h1>
<form>
<div>
	<label for="name"> Name: </label><br>
	<input type="text" [(ngModel)]="name" name="name">
</div>
<div>
	<label for="age"> Age: </label><br>
	<input type="number" [(ngModel)]="age" name="age">
</div>
<div>
	<label for="street"> Street: </label><br>
	<input type="text" [(ngModel)]="address.street" name="street">
</div>
<div>
	<label for="city"> City: </label><br>
	<input type="text" [(ngModel)]="address.city" name="city">
</div>
<div>
	<label for="state"> State: </label><br>
	<input type="text">
</div>

</form>


<h1> Hobbies </h1>
<form (submit)="addHobby(hobby.value)">
	<div>
		<label for="hobby"> Hobby:</label>
		<input type="text" #hobby>
	</div>
<ul>
	<li let *ngFor="let hobby of hobbies; let i=index">
		{{i+1}}:{{hobby}}
		<button (click)="deleteHobby(hobby)">Delete</button>
	</li>
</ul>
