@font-face {
font-family: 'Radnika';
src: url('../../../assets/fonts/Radnika-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
font-weight: bold;

}
:host {
	flex: 1 1 auto;
	width:100%;
	height:auto;
	display: flex;
	justify-content: center;
	align-items: stretch;
}
.colourbox {
  width:100%;
	height:auto;
  display: flex;
  justify-content: center;
	align-items: stretch;
}
.divclass{
	font-family: Radnika;
	font-size:20px;
	color:rgba(0,0,0,0.8);
	width:20%;
	display:flex;
	align-items:flex-end;
	justify-content: center;
	padding:10px;
}
.div1{
	background-color: blue;
}
.div2{
	background-color: green;
}
.div3{
	background-color: yellow;
}
.div4{
	background-color: purple;
}
.div5{
	background-color:lime;
}
/* *{
margin:0;
padding:0;
box-sizing:border-fox;
} */
