@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


@font-face {
font-family: 'Radnika';
src: url('/assets/fonts/Radnika-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
font-weight: bold;
}

*{
margin:0;
padding:0;
box-sizing:border-fox;
}
html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}
